.tab span {
    font-weight:bold;
    color:grey;
}

.tab--selected span {
    font-weight:bold;
    color:black;    
}

.dashboard_title {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    color: #FEBD11;
}

.nav-link {
    color: #FEBD11;
}

/***************************** ENERGIA *****************************/
#progress-energia div {
    background-color: #FEBD11;
}

.cards-content-info-header-energia:first-of-type {
    font-weight:bold;
    color:#FEBD11;
    border-radius:10px 80px;
}

.cards-content-info-body-energia:first-of-type {
    font-size:2em;
    text-align:center;
    color:#FEBD11;
    border-radius:10px 80px;
}

.cards-info-energia:first-of-type {
    border-left: 0.5rem solid 	#FEBD11;
    height:100%;
    border-radius: 15px 50px;
}

.cards-content-chart-header-energia:first-of-type {
    font-weight:bold;
    color:#FEBD11;
    border-radius:10px 80px;
}

.cards-chart-energia:first-of-type {
    height:100%;
    border-radius: 15px 50px;
}
/****************************************************************/

/***************************** ÁGUA *****************************/
#progress-agua div {
    background-color: #0B2341;
}

.cards-content-info-header-agua:first-of-type {
    font-weight:bold;
    color:#0B2341;
    border-radius:10px 80px;
}

.cards-content-info-body-agua:first-of-type {
    font-size:2em;
    text-align:center;
    color:#0B2341;
    border-radius:10px 80px;
}

.cards-info-agua:first-of-type {
    border-left: 0.5rem solid 	#0B2341;
    height:100%;
    border-radius: 15px 50px;
}

.cards-content-chart-header-agua:first-of-type {
    font-weight:bold;
    color:#0B2341;
    border-radius:10px 80px;
}

.cards-chart-agua:first-of-type {
    height:100%;
    border-radius: 15px 50px;
}
/****************************************************************/