#accordionSidebar {
    background: #FEBD11;
}

.django-plotly-dash-app-eixo_7_energia {
    width: 100%;
    padding: 0% 0.5%;
}

.django-plotly-dash-app-eixo_4_educacao {
    width: 100%;
    padding: 0% 0.5%;
}


#logo-container {
    height: 100%;
    position: relative;
}

#std-logo {
    height:15%;
    position: fixed;
    bottom: 0;
    display: flex
}
