#accordionSidebar {
    background: #ff6353;
}

.django-plotly-dash-app-zammad_dashboard {
    width: 100%;
    padding: 0% 0.5%;
}

.django-plotly-dash-app-zammad_dashboard {
    width: 100%;
    padding: 0% 0.5%;
}


#logo-container {
    height: 100%;
    position: relative;
}

#std-logo {
    height:15%;
    position: fixed;
    bottom: 0;
    display: flex
}
