{% extends 'base.html' %}
{% load static %}
{% comment %} {% load bootstrap4 %} {% endcomment %}
{% load plotly_dash %}

{% block header %}
    <link href="{% static 'eixo_7_energia/css/style.css' %}" rel="stylesheet" type="text/css">
    {% plotly_header %}
{% endblock header %}

{% block name_dashboard %}
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <h1 class="dashboard_title">Informações sobre o consumo de Energia e Água</h1>
    </nav>
{% endblock name_dashboard %}

{% block content %}
    <div class="{% plotly_class name='eixo_7_energia' %}">
        {% plotly_direct name="eixo_7_energia" %}
    </div>
{% endblock content %}

{% block footer %}
    {% plotly_footer %}
{% endblock footer %}

